.title {
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.acoes {
    padding-top: 15px;
}

.acoes > button:nth-child(2) {
    margin-left: 10px;
}

.danger {
    background-color: rgb(227,94,107) !important;
    color: #fff !important;
}