.sidenav {
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a span {
    color: #fff !important;
    vertical-align: middle;
}

.sidenav i {
    color: #fff;
    padding-right: 10px;
    vertical-align: middle;
}

.content {
    padding: 16px;
    background-color: #fff;
}